#pallet {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow-y: scroll;
}

#program {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;    
    
    background-color: #CCCCFF;
}