body {
	font-family:arial,helvetica,sans-serif;
	font-size:16px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #000;
}

#page {
	width:900px;
	margin: 0px auto;
	padding: 0px;
	height: 100vh;
	background-color: #fff;
}


#title {
	font-size:150%;
	padding: 15px;
	background-color: #ddd;
	margin: 0;
	display: block;

}

#wrapper {
	margin:0px auto;
}

#main {
	padding: 10px;
}

#menubar {
	position: relative;
	background-color: #eee;
	padding: 0px;
	display:  block;
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}

.menu {
	position: relative;
	background-color: #eee;
	padding: 10px;
	display:  inline-block;
}

/* hide dropdown menus */
.dropdown {
	display: none;
	position: absolute;
	background-color: #eee;
	width: 220px;
	padding: 0 10px 10px 10px;
	box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Show dropdown when hovering over its menu */
.menu:hover .dropdown {
	display: block;
}

.dropdown h1 {
	font-size:120%;
	background-color: #eee;
}

.dropdown h2 {
	font-size:100%;	
}

.dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.dropdown li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

/* Change the link color on hover */
.dropdown li a:hover {
	background-color: #555;
	color: white;
}

/* Add arrows before links in the menu */
.dropdown li a::before {
	content: "\27BA\00A0";
}
